body {
    background-color:#bdbdbd;
}

.base {
    position: absolute;
    background-color: saddlebrown;
    width: 1000px;
    height: 500px
}

.circulo {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: red;
    float: left;
    border-radius: 100px;
    
}